body {
  font-family: "Courier New", Courier, monospace;
  background-image: radial-gradient(
    circle farthest-corner at -3.3% 48%,
    rgba(141, 146, 239, 1) 0%,
    rgba(99, 229, 254, 1) 90%
  );
  user-select: none;
}

h1 {
  font-size: 3rem;
  color: $main-color;
  user-select: text;
  margin: 4rem;
  text-align: center;
  text-decoration: underline;
}

.positionButton {
  margin: 6rem 0 3rem;
  display: flex;
  justify-content: center;

  button {
    color: $w;
    font-size: 5rem;
    width: 70%;
    height: 40vh;
    background-color: $bt;
    border: solid $b;
    border-radius: 1rem;

    &:active {
      color: red;
    }
  }
}

.options_timer_restart {
  margin: 1rem auto;
  color: $main-color;
  font-weight: bold;
  width: 70%;
  height: 10vh;
  background-color: $w;
  padding: 0 1rem 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      cursor: pointer;
    }

    select {
      cursor: pointer;
      font-size: 1.2rem;
      width: 5rem;
      height: 2rem;
      border: solid 3px $main-color;
      border-radius: 0.3rem;
    }
  }

  .timer_clicks {
    font-size: 2rem;
    text-align: center;
  }

  .restart {
    padding: 1rem;

    i {
      font-size: 1.5rem;
      filter: brightness(0) saturate(100%) invert(7%) sepia(75%) saturate(1287%)
        hue-rotate(211deg) brightness(97%) contrast(100%);
    }
  }
}

.p_section {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  margin: auto;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  section {
    position: relative;
    width: 40%;
    height: 40vh;
    text-align: center;
    background-color: $w;
    padding: 1rem 2rem;
    border: solid 3px $b;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    i {
      font-size: 5rem;
      filter: brightness(0) saturate(100%) invert(7%) sepia(75%) saturate(1287%)
        hue-rotate(211deg) brightness(97%) contrast(100%);
    }

    .replay {
      color: $w;
      font-size: 1.5rem;
      background-color: $main-color;
      padding: 0.8rem 1.8rem;
      border-radius: 0.5rem;
    }
  }
}

.blurring {
  filter: blur(0.3rem);
}
